body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h2 {
    color: #333;
}

table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0073e6;
    color: white;
}

.pass {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}
